<%- include('partials/header')%>

    
        <% if (locals.isLoggedIn) { %>
        <%- include('partials/nav')  %>

    <main class="container"> 
        <h2>Welcome <%= locals.username %></h2>

        <form id="create-post" action="/create-a-post" method="post">
            <textarea name="post" id="" cols="30" rows="2"></textarea>
            <input type="submit" value="Create a post">
        </form>

       <div class="posts">
            
        <% posts.forEach(post => { %>
            <div class="post">
                <div class="avatar">
                   <img src="/images/profile_pictures/<%= post.picture %>" alt="">
                </div>
                <div class="post-info">
                    <h3><a href="/profile/<%= post.u_id %>"><%= post.username %></a></h3>
                    <p><%= post.post %></p>
                    <div>
                        <div class="btns">
                            <!-- check if post is liked -->
                            <% if (likes.some(like => like.p_id_fk === post.p_id)) { %>
                                <!-- show unlike button -->
                                <form action="/unlike-post/<%= post.p_id %>" method="post">
                                    <input type="submit" value="unlike">
                                </form>
                            <% } else { %>
                                <!-- show like button -->
                                <!--show like button if post is not liked -->
                            <form action="/like-post/<%= post.p_id %>" method="post">
                                <input type="submit" value="Like">
                            </form>
                            <% } %>

                            

                            <!-- show unlike button if posts is not liked already -->

                            <!-- show delete button if user is author of post -->
                            <% if (userID === post.u_id) { %>
                                <form action="/delete-post/<%= post.p_id %>" method="post">
                                    <input type="submit" value="Delete">
                                </form>
                    
                            <% } %>
                        </div>
                        <small><em><%= post.created_at.toString().split(' GMT')[0] %></em></small>
                    </div>
                    
                </div>
                
            </div>
          <% }) %>
       </div>

    </main>
        <% } else { %>
            <div class="not-logged-in">
            <%- include('partials/nav')  %>

            <h2>Engage with friends on <em>posty</em>.</h2>
            </div>
       <% } %>
    
    
    
<%- include('partials/footer')%>