<%- include('partials/header') %>
<%- include('partials/nav') %>
   <main class="container" id="likes">
      <% posts.forEach(post => { %>
         <div class="post">
             <div class="avatar">
                <img src="/images/profile_pictures/<%= post.picture %>" alt="">
             </div>
             <div class="post-info">
                 <h3><%= post.username%></h3>
                 <p><%= post.post %></p>
                 <div>
                     <div class="btns">

                         <!-- like button -->
                         <form action="/likes/unlike-post/<%= post.p_id %>" method="post">
                             <input type="submit" value="unlike">
                         </form>
             

                         
                     </div>
                     <small><em><%= post.created_at.toString().split(' GMT')[0] %></em></small>
                 </div>
                 
             </div>
             
         </div>
       <% }) %>
    </div>
   </main>
<%- include('partials/footer') %>