<%- include('partials/header') %>
   <%- include('partials/nav') %>

      <main class="container">
        <div id="profile">
            <div class="avatar">
                <img src="/images/profile_pictures/<%= user.picture %>" alt="">
            </div>
            <h3> <%= user.username %></h3>
            <p> <%= user.location %></p>
            <p><%= user.gender %></p>

           <%  if (user.u_id === userID) { %>
               <a href="/edit-profile" id="btn-edit">Edit profile</a>
               <!-- <div id="form">
                <form action="/edit-profile/<%= user.u_id %>" method="post" enctype="multipart/form-data">
                  <label for="">Full Name</label>
                  <input type="text" name="fullname" id="" value="<%= user.username %>">
                  <label for="">Email</label>
                  <input type="email" name="email" id="" value="<%= user.email %>">
                  <label for="">Phone Number</label>
                  <input type="text" name="phonenumber" id="" value="<%= user.phonenumber %>">
                  <label for="">Gender</label>
                  <select name="gender" id="">

                    <% if (user.gender !== null) { %>
                      <option value="<%= user.gender%>"><%= user.gender %></option>
                   <% } %>


                   <option value="">-- Choose Gender --</option>
                   <option value="Male">Male</option>
                   <option value="Female">Female</option>
                  </select>
                  <label for="">Location</label>
                  <input type="text" name="location" id="" value="<%= user.location %>">
                  <label for="">Profile picture</label>
                  <input type="file" name="picture" id="">
                  <label for="">Password</label>
                  <input type="password" name="password" id="" required>

                  <% if (error) {%>
                    <small style="color: red;">Incorrect Password</small>
                  <% }%>

                 

                  <div>
                   <button class="btn" id="btn-cancel">Cancel</button>
                   <input class="btn"  type="submit" value="Update">
                  </div>
              </form>
               </div> -->
          <%  } %>
        </div>
      </main>
      <script>
        let editBtn = document.querySelector("#btn-edit")
        let canceBtn = document.querySelector('#btn-cancel')
        let form = document.querySelector('#form')

        editBtn.addEventListener("click", (e) => {
          e.preventDefault()
          form.style.display = 'block'
        })

        canceBtn.addEventListener('click', (e) => {
          e.preventDefault()
          form.style.display = 'none'
        })
      </script>

<%- include('partials/footer') %>